*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
.bgimg{
    background-image: url("https://images.pexels.com/photos/982263/pexels-photo-982263.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
height:100vh;
align-items: center;
}
.container{
    position:absolute;
    right:0;
    margin:20px;
    max-width: 500px;
    height:50%;
    padding:16px;
    background-color: white;
    margin-top: 15%;
    margin-right: 40px;
}
input[type=text ] :focus,input[type=password ] :focus{
    background-color: #ddd;
    outline: auto;
}
input[type=text ] ,input[type=password ] {
   width:100%;
   padding:15pX;
   margin:5px 0 22px 0;
   border:none;
   
   background:#f1f1f1
}
.btn{
 background-color: #04AA6D;
 color:white;
 padding:16px 20px;
 border:none;
 width:100%;
margin-top: 40px;
font-size: 20px;
text-transform: uppercase;
}
h1{
    margin-bottom: 40px;

}


